{% extends 'base.html.twig' %}

{% block title %}Order Success{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div class="text-center mt-4">
            <h1>Order Success</h1>
        </div>
    </div>
{% endblock %}
